/* ==========================================================================
   Media Queries
   ========================================================================== */


   /* ===== == = === 20em (320px) === = == ===== */

@media only screen and (min-width : 20em) {
    body{
        background:yellow;
    }
    /*.section{border:1px solid yellow;}*/
}

/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (min-width : 30em) {
    body{
        background:orange;
    }
    /*.section{border:1px solid orange;}*/
}

/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: 37.5em) {
    body{
        background:red;
    }
    /*.section{border:1px solid red;}*/
}

/* ===== == = === 48em (768px) === = == ===== */

@media only screen and (min-width : 48em) {
    body{
        background:blue;
    }
    /*.section{border:1px solid blue;}*/
}

/* ===== == = === 56.25em (900px) === = == ===== */

@media only screen and (min-width : 56.25em) {
    body{
        background:purple;
    }
    /*.section{border:1px solid purple;}*/
    .section{
    width:1028px;
    }
    #one .section{
    width:100%;
    }
}

/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (min-width : 68.75em) {
    body{
        background:green;
    }
    /*.section{border:1px solid green;}*/
    .section{
        width:1028px;
    }
    #one .section{
        width:100%;
    }
}

/* ===== == = === 81.25em (1300px) === = == ===== */

@media only screen and (min-width : 81.25em) {
    body{
        background:pink;
    }
    /*.section{border:1px solid pink;}*/
}